
   body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #eee;
  }
  
  h1 {
    font-size: 84px;
    /* margin-bottom: 16px; */
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:#CD5C08;
  }
  .para{
    color: #000000;
  }
  
  .attendance-button {
    padding: 6px 12px;
    font-size: 14px;
    border: 1px solid #9c9c9c;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .attendance-button:hover {
    background-color: #eee;
  }
  
  .attendance-button.present {
    background-color: green;
    color: white;
  }
  
  .attendance-button.leave {
    background-color: orange;
    color: white;
  }
  
  .attendance-button.absent {
    background-color: red;
    color: white;
  }
  
  #attendance-history {
    margin-top: 20px;
  }
  
  #attendance-history h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  #attendance-history p , h2{
    margin-left: 25px;
  }
  
  .student-list {
    list-style-type: none;
    padding: 0;
  }
  
  .student {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
  }
  
  .student-name {
    flex-grow: 1;
    margin-right: 10px;
    font-size: 16px;
  }
  
  .banner {
    background-color: #333;
    height: 200px;
    color: white;
    text-align: center;
    padding-top: 80px;
    font-size: 32px;
    font-weight: bold;
  }
  
  .about {
    background-color: #f5f5f5;
    padding: 20px;
    font-size: 16px;
  }
  
  .reports {
    margin-top: 20px;
    padding: 20px;
    background-color: #f5f5f5;
    font-size: 16px;
  }
  ::selection {
    background-color: #ffcc00af;
    color: #333;
  }
  .buttonn{

    text-decoration: none; 
    color: black;

  }
 #management{
margin-left: 25px;
 }
#downloadbtn{
  /* background-color: rgb(255, 200, 97); */
  height: 40px;
  width: 90%;
  margin: 5%;
}
#attendance-records{
  margin-left: 20%;
}
